<!DOCTYPE html>
<html>
<head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
	  <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	<title>OurWork</title>
</head>
<center>


		<body bgcolor="lightgrey">
		      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="header_information">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
							  <li class="nav-item active">
                                    <a class="nav-link" href="about.html"> About Us  </a>
                                 </li> 
                                 <li class="nav-item">
                                    <a class="nav-link" href="clients.html">Our Info/Success</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="ourwork.html">Our Work</a>
                                 </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="#contact">Entry</a>
                                 </li>
                              </ul>
                              <div class="sign_btn"><a href="#">Get Help</a></div>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
       <div class="ourwork">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <div class="titlepage">
                      <h2>Our Work</h2>
                   </div>
                </div>
             </div>
			 <div>
			 <h2>Five-year old boy revived from coma & making full recovery.</h2>
			 <p>The smile of little Lakshay does little to suggest that he has been fighting one of the grimmest battles of his young life. Just over five months ago a freak accident left his fingers badly injured and he had to be rushed into surgery at a local hospital. Even before the doctors put a scalpel to his wounded fingers, Lakshay slipped into coma and the situation looked out of hands.

Parents, Nandini & Purushottam, found their son in the ICU for well over a month and each day the chances & hopes of his recovery dwindled. The doctors almost gave up on the child and every specialist seemed to harbor only pessimism. The parents however, hung on and fought against hope.

Five months on, Nandini & Purushottam found a new lease of hope at BGS Gleneagles Global Hospitals, Bangalore. Neurosurgeons at the hospital, led by vice-chairman and chief neurosurgeon, Dr. Venkataramana performed a number of procedures to help the young boy back to normal health.

Lakshay is making very good progress. Most importantly, he is able to repeat actions, is alert and can stand up and walk with support. He is responding to all commands.

But we are concerned about his vision, which may take some time to improve completely. He isn't able to focus on one object for long. But I think in six months, he will be independent.

Those words from the doctors give Lakshay’s parents a reason to smile for the first time in 5 months. Their son is making steady progress and it is progress that they can see every day.

Today, he is eating well and making us run around like he used to. We can't say no to anything he asks for. In fact, today he demanded a rickshaw and we have to buy him one,  remarks Nandini.</p>
			 </div>
			 <div>
			 
            <h2>A new lease of life for 82-year old paralytic man.</h2>
			<p>At 82 most people would give up fighting and take most ailments for granted. Quite unlike this one individual who was brought to Gleneagles Global Hospitals, Mumbai following a fall. The fall caused the elderly gentlemen an excruciating amount of pain; adding to his discomfiture from Ankylosing Spondylitis. Diagnosis revealed that he had developed 3 Andersson Leisons which left no other alternative other than a surgical intervention.

Adding to the complications, doctors found that the patient had fluid build-up in both his lungs and had very little protein levels in his body. All this left little option for a regular surgery and doctors had to conceive a minimal access option. The surgery implanted 14-screws in this spinal cord – an extremely rare & highly commendable feat by the doctors at Gleneagles Global Hospitals.

The patient has made exceptionally good progress and recovery from the surgery and it wasn’t long before he left for his home on his own two feet. The minimally access surgery on a patient of that age & co-morbidity is an exceptional achievement.

Dr. Vishal Peshattiwar consultant for Endoscopic & Minimally Invasive Spine Surgeries at Gleneagles Global Hospitals said, “We were delighted when post the surgery patient said that pain he is feeling after the surgery is much less as compared to the one he was in, prior to the surgery. It was gratifying to see him go home walking as he had come to us on a stretcher and was on bed a month prior to that.

He has recovered well and now has started performing all his daily chores by himself. It was a huge risk as there is always a danger of life involved in the surgery, and spine is extremely sensitive area.</p>
			 </div>	
			 <div>
				   <h2>This student overcomes Cancer and then aces her exams as well.</h2>
                      <p>Bangalore-based Anoushka Vidudala is quite the ordinary child until of course you hear of the extraordinary fight she put up to overcome Cancer. She not only aced her health but she aced her studies as well with an 8.9 CGPA in her class 10th examinations.

Five years ago, at the age of 12, Anoushka was diagnosed with brain tumor – Medulloblastoma – a Cancer that affects the cerebro-spinal area. She had to undergo a critical surgery at BGS Gleneagles Global Hospitals, Bangalore followed by sessions of chemotherapy & radiation to successfully overcome her Cancer. The intense treatment & radiation therapy left the young child encountering some of the most difficult days of her scholarly life. And yet nothing was ever going to deter her from doing her best.

Post-surgery, I underwent my radiation and chemotherapy sessions. During this period, I was challenged by many situations affecting my motor co-ordination and memory, but I was determined to fight this life threatening ailment," explained Anoushka.

To begin with, the sickness seemed a routine bout of nausea but she subsequently developed severe headaches that refused to subside. The parents sought various treatments but nothing seemed to help and eventually Anoushka was admitted in a hospital and suggested to undergo an MRI. The MRI revealed a brain tumor and suddenly everything that little Anoushka had ever dreamt off became too distant for her.

Anoushka & her parents, however, refused to let the disease or the treatment come in the way of her dreams.

Even as the news broke out, we had to move on. She was in a critical condition and any delay could have pushed her in coma. Somehow we regained our lost ground and started finding the right doctors for her,  said Anoushka’s mother Meenakshi.

With support from her family, treatment & care from Gleneagles Global Hospitals, and above all with the innate strength and courage that is in her, Anoushka overcome the Brain Tumor. None of these deterred her from her ambitions and she continues to remain a bright student with ambitions of becoming a forensic psychologist.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
   </body>
<div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© Project Belongs to Rohit Shinde <a href="https://html.design/"></a></p>
                     </div>
                  </div>
               </div>
            </div>
</html>

